<% if @comingsoon.errors.any? %>
	<div id="error_explanation" class="round">
		<h2>
			<%= pluralize(@comingsoon.errors.count, "error") %>
			prohibited this movie from being saved:
		</h2>

		<p>
			There were problems with the following fields:
		</p>
		<ul>
			<%= @comingsoon.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>

	</div>
<% end %>
