
	<div class="center">
		<div class="panel callout round">
			<h5>Contacts</h5>
		</div>
		<div class="panel round">
			<p>
				Details on how to contact the admin, and the various cinemas registered, go here.<br />
				Details on how to contact the admin, and the various cinemas registered, go here.<br />
				Details on how to contact the admin, and the various cinemas registered, go here.
			</p>
		</div>
	</div>
