<div class="row">
	<div class="center">
		<div class="panel">
			<p>
				Details on how to contact the admin, and the various cinemas registered, go here.<br />
				Details on how to contact the admin, and the various cinemas registered, go here.<br />
				Details on how to contact the admin, and the various cinemas registered, go here.
		</div>
	</div>
</div>
