<% if admin_signed_in? %>
	<div class="row">
		<div class="large-4 columns">
			<a href=<%= new_comingsoon_path %> class="small button radius">Add New Coming Soon</a>
		</div>
	</div>
<% end %>

<% @comingsoons.each do |comingsoon| %>

	<div class="row">
		<div class="large-6 columns">
			<div class="panel round">
				<%= image_tag comingsoon.comingsooncover.url(:large) %>
				<h5>comingsoon.title</h5>
				<p><%= comingsoon.synopsis %></p>
				<% @cinema = Cinema.all%>
				<% @cinema.each do |cinema| %>
				<p>Cinemas Showing : <i>The Movies are to be listed here</i></p>
				<% end %>
			</div>
		</div>
	</div>

<% end %>
