<div class="row">
	<div class="large-12 columns">
		<div class="panel round">
			<%= image_tag @cinema.cinemalogo.url(:large) %> <br />
			<legend><%= @cinema.name %></legend> <br />
			<%= @cinema.description %><br />
			<%= @cinema.created_at %>
		</div>
	</div>

</div>
